## Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import eurostat
import os

In [2]:
from functools import reduce
from eurostat import get_data_df

## Datasets

### Utils

In [130]:
COUNTRY = "SE"
OUTPUT_DIR = "data_eurostat"
os.makedirs(OUTPUT_DIR, exist_ok=True)
DFS = {}
ANNUAL_COLS = []

In [131]:
def get_dataset(indicator_name, local_path):

    # Lookup the dataset inside the data_eurostat folder
    if os.path.exists(local_path):
        print(f"üìÇ Found locally: {local_path}")
        df = pd.read_csv(local_path)
        return df
    
    # Download if no avilable csv was found
    try:
        print(f"‚¨áÔ∏è Downloading from Eurostat: {indicator_name}")
        df = eurostat.get_data_df(indicator_name)

        if "geo\\TIME_PERIOD" in df.columns:
            df = df.rename(columns={"geo\\TIME_PERIOD":"geo"})

        df.to_csv(local_path, index=False)
        print(f"‚úÖ Saved locally: {local_path}")
    except Exception as e:
        print(f"‚ùå Failed to download {indicator_name}: {e}")
        return None

    return df

In [132]:
def col_to_timestamp(df, ds_name):

    freq = list(df['freq'].unique())[0]


    try:
        if freq.upper() == 'Q':
            df['TIME_PERIOD'] = pd.PeriodIndex(df['TIME_PERIOD'], freq='Q').to_timestamp()
        elif freq.upper() == 'M':
            df['TIME_PERIOD'] = pd.PeriodIndex(df['TIME_PERIOD'], freq='M').to_timestamp()
        else:
            ANNUAL_COLS.append(ds_name)
            df['TIME_PERIOD'] = pd.to_datetime(df['TIME_PERIOD'])
    
    except Exception as e:
        print(f"Could not parse TIME_PERIOD: {e}")

    return df

### GDP per Capita (Nominal)

In [133]:
indicator_name = "namq_10_gdp"
ds_name = "gdp_per_capita"
filename = f"{ds_name}.csv"
local_path = os.path.join(OUTPUT_DIR, filename)

In [134]:
df = get_dataset(indicator_name=indicator_name, local_path=local_path)

# df.head()

üìÇ Found locally: data_eurostat\gdp_per_capita.csv

In [135]:
df_clean = df.copy()

df_clean = df_clean[
    (df_clean['geo'] == COUNTRY) & 
    (df_clean['na_item'] == 'B1G') & 
    (df_clean['unit'] == 'CLV05_MEUR') &
    (df_clean['s_adj'] == 'SCA')]

non_null_columns = df_clean.columns[~(df_clean.isnull().sum() > 0)]
df_clean = df_clean[non_null_columns]

id_vars = ['freq', 'geo', 'na_item', 'unit', 's_adj']
value_vars = [col for col in df_clean.columns if col not in id_vars]

df_clean = df_clean.melt(
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='TIME_PERIOD',
    value_name='VALUE'
)

df_clean = df_clean.rename(columns={"VALUE": f"{ds_name}"})
df_clean = col_to_timestamp(df_clean, ds_name)
df_clean = df_clean[['TIME_PERIOD', f'{ds_name}']]

DFS[f"df_{ds_name}"] = df_clean

df_clean.head()

  TIME_PERIOD  gdp_per_capita
0  1993-01-01         46206.9
1  1993-04-01         46621.8
2  1993-07-01         46951.4
3  1993-10-01         47068.7
4  1994-01-01         47692.1

### Unemployment Rate

In [136]:
indicator_name = "tps00203"
ds_name = "unemployment_rate"
filename = f"{ds_name}.csv"
local_path = os.path.join(OUTPUT_DIR, filename)

In [137]:
df = get_dataset(indicator_name=indicator_name, local_path=local_path)

# df.head()

üìÇ Found locally: data_eurostat\unemployment_rate.csv

In [138]:
df_clean = df.copy()

df_clean = df_clean[
    (df_clean['geo'] == COUNTRY) & 
    (df_clean['unit'] == 'PC_POP') # of total population
]

non_null_columns = df_clean.columns[~(df_clean.isnull().sum() > 0)]
df_clean = df_clean[non_null_columns]

id_vars = ['freq', 'geo', 'sex', 'unit', 'age']
value_vars = [col for col in df_clean.columns if col not in id_vars]

df_clean = df_clean.melt(
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='TIME_PERIOD',
    value_name='VALUE'
)

df_clean = df_clean.rename(columns={"VALUE": f"{ds_name}"})
df_clean = col_to_timestamp(df_clean, ds_name)
df_clean = df_clean[['TIME_PERIOD', f'{ds_name}']]

DFS[f"df_{ds_name}"] = df_clean

df_clean.head(25)

   TIME_PERIOD  unemployment_rate
0   2013-01-01                5.8
1   2014-01-01                5.8
2   2015-01-01                5.4
3   2016-01-01                5.1
4   2017-01-01                4.9
5   2018-01-01                4.7
6   2019-01-01                5.0
7   2020-01-01                6.2
8   2021-01-01                6.6
9   2022-01-01                5.6
10  2023-01-01                5.8
11  2024-01-01                6.3

### Inflation Rate (HICP)

In [139]:
indicator_name = "tec00118"
ds_name = "inflation_rate"
filename = f"{ds_name}.csv"
local_path = os.path.join(OUTPUT_DIR, filename)

In [140]:
df = get_dataset(indicator_name=indicator_name, local_path=local_path)

# df.head()

üìÇ Found locally: data_eurostat\inflation_rate.csv

In [141]:
df_clean = df.copy()

df_clean = df_clean[
    (df_clean['geo'] == COUNTRY)
]

non_null_columns = df_clean.columns[~(df_clean.isnull().sum() > 0)]
df_clean = df_clean[non_null_columns]

id_vars = ['freq', 'unit', 'coicop', 'geo']
value_vars = [col for col in df_clean.columns if col not in id_vars]

df_clean = df_clean.melt(
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='TIME_PERIOD',
    value_name='VALUE'
)

df_clean = df_clean.rename(columns={"VALUE": f"{ds_name}"})
df_clean = col_to_timestamp(df_clean, ds_name)
df_clean = df_clean[['TIME_PERIOD', f'{ds_name}']]

DFS[f"df_{ds_name}"] = df_clean

df_clean.head()

  TIME_PERIOD  inflation_rate
0  2013-01-01             0.4
1  2014-01-01             0.2
2  2015-01-01             0.7
3  2016-01-01             1.1
4  2017-01-01             1.9

### Education Attainmanet (25-64)

In [142]:
indicator_name = "tgs00109"
ds_name = "education_attainment"
filename = f"{ds_name}.csv"
local_path = os.path.join(OUTPUT_DIR, filename)

In [143]:
df = get_dataset(indicator_name=indicator_name, local_path=local_path)

# df.head()

üìÇ Found locally: data_eurostat\education_attainment.csv

In [144]:
df_clean = df.copy()

sweden_geos = ['SE11', 'SE12', 'SE21', 'SE22', 'SE23', 'SE31', 'SE32', 'SE33']

df_clean = (df_clean[df_clean['geo'].isin(sweden_geos)])

df_clean = df_clean[
    (df_clean['sex'] == 'T')
]

non_null_columns = df_clean.columns[~(df_clean.isnull().sum() > 0)]
df_clean = df_clean[non_null_columns]

id_vars = ['freq', 'unit', 'isced11', 'age', 'sex', 'geo']
value_vars = [col for col in df_clean.columns if col not in id_vars]

df_clean = df_clean.melt(
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='TIME_PERIOD',
    value_name='VALUE'
)

df_clean = df_clean.rename(columns={"VALUE": f"{ds_name}"})

df_clean = (
    df_clean.groupby(['TIME_PERIOD', 'freq', 'sex', 'age', 'isced11'])
             [f'{ds_name}']
             .mean()
             .reset_index()
)

df_clean['geo'] = 'SE'
df_clean = col_to_timestamp(df_clean, ds_name)
df_clean = df_clean[['TIME_PERIOD', f'{ds_name}']]

DFS[f"df_{ds_name}"] = df_clean

df_clean.head(25)

   TIME_PERIOD  education_attainment
0   2013-01-01               34.7125
1   2014-01-01               36.1875
2   2015-01-01               37.3000
3   2016-01-01               38.5500
4   2017-01-01               39.2750
5   2018-01-01               40.7375
6   2019-01-01               41.3875
7   2020-01-01               41.8500
8   2021-01-01               43.7375
9   2022-01-01               45.7625
10  2023-01-01               46.7750
11  2024-01-01               47.5625

## Merge Datasets

In [165]:
merged_df = None

for name, df_clean in DFS.items():

    if merged_df is None:
        merged_df = df_clean
        continue

    merged_df = pd.merge(merged_df, df_clean, on="TIME_PERIOD", how="outer")

for col in ANNUAL_COLS:
    merged_df = merged_df.ffill()

merged_df = merged_df.dropna()

merged_df = merged_df.sort_values("TIME_PERIOD").reset_index(drop=True)
merged_path = os.path.join(OUTPUT_DIR, "merged_eurostat.csv")
merged_df.to_csv(merged_path, index=False)

merged_df.head(50)

,TIME_PERIOD,gdp_per_capita,unemployment_rate,inflation_rate,education_attainment
0,2013-01-01,78267.7,5.8,0.4,34.7125
1,2013-04-01,78534.3,5.8,0.4,34.7125
2,2013-07-01,79264.6,5.8,0.4,34.7125
3,2013-10-01,80063.5,5.8,0.4,34.7125
4,2014-01-01,80354.8,5.8,0.2,36.1875
5,2014-04-01,80688.9,5.8,0.2,36.1875
6,2014-07-01,81188.2,5.8,0.2,36.1875
7,2014-10-01,81835.5,5.8,0.2,36.1875
8,2015-01-01,82638.0,5.4,0.7,37.3000
9,2015-04-01,84566.1,5.4,0.7,37.3000
10,2015-07-01,84421.5,5.4,0.7,37.3000
11,2015-10-01,85211.1,5.4,0.7,37.3000
12,2016-01-01,84666.3,5.1,1.1,38.5500
13,2016-04-01,85365.5,5.1,1.1,38.5500
14,2016-07-01,85741.9,5.1,1.1,38.5500
15,2016-10-01,86112.7,5.1,1.1,38.5500
16,2017-01-01,87063.7,4.9,1.9,39.2750
17,2017-04-01,87169.1,4.9,1.9,39.2750
18,2017-07-01,87674.7,4.9,1.9,39.2750
19,2017-10-01,87896.3,4.9,1.9,39.2750
20,2018-01-01,88407.8,4.7,2.0,40.7375
21,2018-04-01,88849.9,4.7,2.0,40.7375
22,2018-07-01,89095.0,4.7,2.0,40.7375
23,2018-10-01,90249.6,4.7,2.0,40.7375
24,2019-01-01,90402.4,5.0,1.7,41.3875
25,2019-04-01,91813.4,5.0,1.7,41.3875
26,2019-07-01,91564.4,5.0,1.7,41.3875
27,2019-10-01,92944.4,5.0,1.7,41.3875
28,2020-01-01,92800.1,6.2,0.7,41.8500
29,2020-04-01,84318.9,6.2,0.7,41.8500
30,2020-07-01,89544.9,6.2,0.7,41.8500
31,2020-10-01,90974.2,6.2,0.7,41.8500
32,2021-01-01,93252.7,6.6,2.7,43.7375
33,2021-04-01,93940.7,6.6,2.7,43.7375
34,2021-07-01,93445.3,6.6,2.7,43.7375
35,2021-10-01,95405.0,6.6,2.7,43.7375
36,2022-01-01,95223.5,5.6,8.1,45.7625
37,2022-04-01,95936.9,5.6,8.1,45.7625
38,2022-07-01,95590.9,5.6,8.1,45.7625
39,2022-10-01,94888.6,5.6,8.1,45.7625
40,2023-01-01,96494.1,5.8,5.9,46.7750
41,2023-04-01,95513.1,5.8,5.9,46.7750
42,2023-07-01,96170.2,5.8,5.9,46.7750
43,2023-10-01,95628.6,5.8,5.9,46.7750
44,2024-01-01,96465.7,6.3,2.0,47.5625
45,2024-04-01,96187.4,6.3,2.0,47.5625
46,2024-07-01,97010.2,6.3,2.0,47.5625
47,2024-10-01,97402.0,6.3,2.0,47.5625
48,2025-01-01,97189.7,6.3,2.0,47.5625
49,2025-04-01,97594.5,6.3,2.0,47.5625