In [1]:
# Imports

import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import eurostat

In [16]:
df_gdp: pd.DataFrame = eurostat.get_data_df('nama_10_pc') # pyright: ignore[reportAssignmentType]
df_gdp.head()

,freq,unit,na_item,geo\TIME_PERIOD,1975,1976,1977,1978,1979,1980,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,A,CLV10_EUR_HAB,B1GQ,AL,NaN,NaN,NaN,NaN,NaN,NaN,...,3480.0,3620.0,3750.0,3890.0,3990.0,3880.0,4270.0,4530.0,NaN,NaN
1,A,CLV10_EUR_HAB,B1GQ,AT,NaN,NaN,NaN,NaN,NaN,NaN,...,35930.0,36230.0,36820.0,37550.0,38040.0,35480.0,37080.0,38620.0,37990.0,37550.0
2,A,CLV10_EUR_HAB,B1GQ,BE,NaN,NaN,NaN,NaN,NaN,NaN,...,34090.0,34320.0,34700.0,35190.0,35850.0,33990.0,35960.0,37090.0,37400.0,37600.0
3,A,CLV10_EUR_HAB,B1GQ,BG,NaN,NaN,NaN,NaN,NaN,NaN,...,5850.0,6110.0,6360.0,6600.0,6950.0,6800.0,7380.0,7730.0,7880.0,8160.0
4,A,CLV10_EUR_HAB,B1GQ,CH,NaN,NaN,NaN,NaN,NaN,NaN,...,59540.0,60130.0,60380.0,61660.0,61920.0,60140.0,63020.0,64390.0,63870.0,63980.0

In [37]:
df_gdp = df_gdp.rename(columns={"geo\\TIME_PERIOD":"geo"})
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 54 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   freq     4401 non-null   object
 1   unit     4401 non-null   object
 2   na_item  4401 non-null   object
 3   geo      4401 non-null   object
 4   1975     243 non-null    float64
 5   1976     243 non-null    float64
 6   1977     243 non-null    float64
 7   1978     243 non-null    float64
 8   1979     243 non-null    float64
 9   1980     315 non-null    float64
 10  1981     324 non-null    float64
 11  1982     324 non-null    float64
 12  1983     324 non-null    float64
 13  1984     324 non-null    float64
 14  1985     324 non-null    float64
 15  1986     324 non-null    float64
 16  1987     324 non-null    float64
 17  1988     324 non-null    float64
 18  1989     324 non-null    float64
 19  1990     324 non-null    float64
 20  1991     396 non-null    float64
 21  1992     405 non-null    float64
 22  1993     477 non-null    float64
 23  1994     486 non-null    float64
 24  1995     3690 non-null   float64
 25  1996     3969 non-null   float64
 26  1997     3987 non-null   float64
 27  1998     4053 non-null   float64
 28  1999     4059 non-null   float64
 29  2000     4194 non-null   float64
 30  2001     4209 non-null   float64
 31  2002     4209 non-null   float64
 32  2003     4227 non-null   float64
 33  2004     4227 non-null   float64
 34  2005     4227 non-null   float64
 35  2006     4326 non-null   float64
 36  2007     4335 non-null   float64
 37  2008     4344 non-null   float64
 38  2009     4377 non-null   float64
 39  2010     4380 non-null   float64
 40  2011     4380 non-null   float64
 41  2012     4380 non-null   float64
 42  2013     4383 non-null   float64
 43  2014     4383 non-null   float64
 44  2015     4401 non-null   float64
 45  2016     4401 non-null   float64
 46  2017     4383 non-null   float64
 47  2018     4383 non-null   float64
 48  2019     4383 non-null   float64
 49  2020     4293 non-null   float64
 50  2021     4293 non-null   float64
 51  2022     4284 non-null   float64
 52  2023     4176 non-null   float64
 53  2024     3997 non-null   float64
dtypes: float64(50), object(4)
memory usage: 1.8+ MB

In [38]:
df_gdp_sweden: pd.DataFrame = df_gdp[df_gdp["geo"] == "SE"]
df_gdp_sweden.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 36 to 4396
Data columns (total 54 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   freq     108 non-null    object
 1   unit     108 non-null    object
 2   na_item  108 non-null    object
 3   geo      108 non-null    object
 4   1975     0 non-null      float64
 5   1976     0 non-null      float64
 6   1977     0 non-null      float64
 7   1978     0 non-null      float64
 8   1979     0 non-null      float64
 9   1980     0 non-null      float64
 10  1981     0 non-null      float64
 11  1982     0 non-null      float64
 12  1983     0 non-null      float64
 13  1984     0 non-null      float64
 14  1985     0 non-null      float64
 15  1986     0 non-null      float64
 16  1987     0 non-null      float64
 17  1988     0 non-null      float64
 18  1989     0 non-null      float64
 19  1990     0 non-null      float64
 20  1991     0 non-null      float64
 21  1992     0 non-null      float64
 22  1993     72 non-null     float64
 23  1994     81 non-null     float64
 24  1995     108 non-null    float64
 25  1996     108 non-null    float64
 26  1997     108 non-null    float64
 27  1998     108 non-null    float64
 28  1999     108 non-null    float64
 29  2000     108 non-null    float64
 30  2001     108 non-null    float64
 31  2002     108 non-null    float64
 32  2003     108 non-null    float64
 33  2004     108 non-null    float64
 34  2005     108 non-null    float64
 35  2006     108 non-null    float64
 36  2007     108 non-null    float64
 37  2008     108 non-null    float64
 38  2009     108 non-null    float64
 39  2010     108 non-null    float64
 40  2011     108 non-null    float64
 41  2012     108 non-null    float64
 42  2013     108 non-null    float64
 43  2014     108 non-null    float64
 44  2015     108 non-null    float64
 45  2016     108 non-null    float64
 46  2017     108 non-null    float64
 47  2018     108 non-null    float64
 48  2019     108 non-null    float64
 49  2020     108 non-null    float64
 50  2021     108 non-null    float64
 51  2022     108 non-null    float64
 52  2023     108 non-null    float64
 53  2024     108 non-null    float64
dtypes: float64(50), object(4)
memory usage: 46.4+ KB

In [39]:
non_null_columns = df_gdp_sweden.columns[~(df_gdp_sweden.isnull().sum() > 20)]
df_gdp_sweden = df_gdp_sweden[non_null_columns]

non_null_columns

Index(['freq', 'unit', 'na_item', 'geo', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [40]:
df_gdp_sweden.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 36 to 4396
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   freq     108 non-null    object
 1   unit     108 non-null    object
 2   na_item  108 non-null    object
 3   geo      108 non-null    object
 4   1995     108 non-null    float64
 5   1996     108 non-null    float64
 6   1997     108 non-null    float64
 7   1998     108 non-null    float64
 8   1999     108 non-null    float64
 9   2000     108 non-null    float64
 10  2001     108 non-null    float64
 11  2002     108 non-null    float64
 12  2003     108 non-null    float64
 13  2004     108 non-null    float64
 14  2005     108 non-null    float64
 15  2006     108 non-null    float64
 16  2007     108 non-null    float64
 17  2008     108 non-null    float64
 18  2009     108 non-null    float64
 19  2010     108 non-null    float64
 20  2011     108 non-null    float64
 21  2012     108 non-null    float64
 22  2013     108 non-null    float64
 23  2014     108 non-null    float64
 24  2015     108 non-null    float64
 25  2016     108 non-null    float64
 26  2017     108 non-null    float64
 27  2018     108 non-null    float64
 28  2019     108 non-null    float64
 29  2020     108 non-null    float64
 30  2021     108 non-null    float64
 31  2022     108 non-null    float64
 32  2023     108 non-null    float64
 33  2024     108 non-null    float64
dtypes: float64(30), object(4)
memory usage: 29.5+ KB

In [44]:
df_gdp_sweden.head(25)

,freq,unit,na_item,geo,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
36,A,CLV10_EUR_HAB,B1GQ,SE,28870.0,29320.0,30210.0,31470.0,32770.0,34240.0,...,42160.0,42560.0,42750.0,43000.0,43650.0,42520.0,44480.0,44560.0,44170.0,44400.0
77,A,CLV10_EUR_HAB,P3,SE,22400.0,22680.0,23120.0,23890.0,24710.0,25550.0,...,30630.0,31090.0,31160.0,31260.0,31080.0,30110.0,31370.0,31660.0,31240.0,31400.0
117,A,CLV10_EUR_HAB,P31_S13,SE,6670.0,6750.0,6650.0,6920.0,7010.0,6910.0,...,7390.0,7650.0,7520.0,7420.0,7340.0,7120.0,7330.0,7240.0,7190.0,7220.0
158,A,CLV10_EUR_HAB,P31_S14,SE,12930.0,13200.0,13630.0,14090.0,14740.0,15530.0,...,19920.0,20130.0,20320.0,20490.0,20430.0,19670.0,20670.0,21040.0,20530.0,20590.0
199,A,CLV10_EUR_HAB,P31_S14_S15,SE,13300.0,13580.0,14020.0,14480.0,15110.0,16000.0,...,20410.0,20610.0,20830.0,20970.0,20910.0,20150.0,21160.0,21520.0,21030.0,21100.0
240,A,CLV10_EUR_HAB,P31_S15,SE,370.0,370.0,380.0,380.0,350.0,470.0,...,490.0,480.0,500.0,490.0,490.0,480.0,500.0,480.0,500.0,510.0
280,A,CLV10_EUR_HAB,P32_S13,SE,2650.0,2540.0,2600.0,2660.0,2720.0,2690.0,...,2850.0,2840.0,2840.0,2900.0,2880.0,2870.0,2950.0,3000.0,3090.0,3160.0
321,A,CLV10_EUR_HAB,P3_S13,SE,9330.0,9290.0,9250.0,9580.0,9730.0,9610.0,...,10230.0,10490.0,10360.0,10320.0,10210.0,9980.0,10260.0,10220.0,10260.0,10350.0
361,A,CLV10_EUR_HAB,P41,SE,19800.0,20170.0,20560.0,21280.0,22020.0,22890.0,...,27790.0,28250.0,28330.0,28360.0,28210.0,27240.0,28430.0,28660.0,28140.0,28240.0
402,A,CLV15_EUR_HAB,B1GQ,SE,31610.0,32100.0,33070.0,34460.0,35880.0,37480.0,...,46160.0,46590.0,46800.0,47080.0,47790.0,46550.0,48690.0,48780.0,48350.0,48600.0
443,A,CLV15_EUR_HAB,P3,SE,24620.0,24930.0,25420.0,26270.0,27170.0,28100.0,...,33680.0,34190.0,34270.0,34370.0,34180.0,33110.0,34500.0,34820.0,34350.0,34530.0
483,A,CLV15_EUR_HAB,P31_S13,SE,7900.0,8000.0,7870.0,8190.0,8300.0,8180.0,...,8750.0,9050.0,8910.0,8790.0,8690.0,8430.0,8680.0,8570.0,8510.0,8550.0
524,A,CLV15_EUR_HAB,P31_S14,SE,13740.0,14030.0,14480.0,14970.0,15660.0,16500.0,...,21170.0,21390.0,21590.0,21760.0,21700.0,20900.0,21960.0,22350.0,21810.0,21870.0
565,A,CLV15_EUR_HAB,P31_S14_S15,SE,14160.0,14450.0,14920.0,15410.0,16080.0,17030.0,...,21730.0,21930.0,22170.0,22320.0,22260.0,21450.0,22520.0,22910.0,22380.0,22460.0
606,A,CLV15_EUR_HAB,P31_S15,SE,420.0,420.0,440.0,440.0,400.0,540.0,...,560.0,540.0,570.0,560.0,560.0,550.0,570.0,550.0,580.0,580.0
646,A,CLV15_EUR_HAB,P32_S13,SE,2980.0,2860.0,2920.0,2990.0,3060.0,3030.0,...,3200.0,3200.0,3190.0,3270.0,3240.0,3230.0,3320.0,3380.0,3480.0,3550.0
687,A,CLV15_EUR_HAB,P3_S13,SE,10890.0,10860.0,10800.0,11180.0,11370.0,11220.0,...,11950.0,12250.0,12100.0,12050.0,11920.0,11660.0,11990.0,11940.0,11980.0,12080.0
727,A,CLV15_EUR_HAB,P41,SE,21720.0,22120.0,22550.0,23330.0,24150.0,25100.0,...,30470.0,30990.0,31070.0,31100.0,30940.0,29870.0,31180.0,31440.0,30860.0,30970.0
768,A,CLV20_EUR_HAB,B1GQ,SE,31360.0,31840.0,32800.0,34180.0,35590.0,37180.0,...,45790.0,46220.0,46420.0,46700.0,47410.0,46180.0,48300.0,48390.0,47960.0,48210.0
808,A,CLV20_EUR_HAB,P3,SE,24550.0,24860.0,25340.0,26200.0,27090.0,28010.0,...,33580.0,34080.0,34160.0,34270.0,34080.0,33010.0,34390.0,34710.0,34250.0,34430.0
847,A,CLV20_EUR_HAB,P31_S13,SE,8500.0,8610.0,8480.0,8820.0,8940.0,8810.0,...,9420.0,9750.0,9590.0,9460.0,9350.0,9080.0,9340.0,9230.0,9160.0,9200.0
887,A,CLV20_EUR_HAB,P31_S14,SE,13260.0,13540.0,13980.0,14450.0,15120.0,15920.0,...,20430.0,20650.0,20840.0,21010.0,20950.0,20170.0,21190.0,21580.0,21050.0,21110.0
927,A,CLV20_EUR_HAB,P31_S14_S15,SE,13680.0,13960.0,14420.0,14890.0,15540.0,16460.0,...,20990.0,21190.0,21420.0,21570.0,21510.0,20720.0,21760.0,22130.0,21630.0,21700.0
967,A,CLV20_EUR_HAB,P31_S15,SE,420.0,430.0,440.0,440.0,400.0,540.0,...,560.0,550.0,580.0,560.0,560.0,550.0,570.0,560.0,580.0,590.0
1006,A,CLV20_EUR_HAB,P32_S13,SE,2960.0,2840.0,2900.0,2970.0,3040.0,3000.0,...,3180.0,3170.0,3170.0,3240.0,3210.0,3210.0,3290.0,3350.0,3460.0,3530.0